* {
  padding: 0;
  margin: 0;
  background-color: #111;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 87.5%;
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .o {
  color: #8b1e17;
  font-family: sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  font-family: monospace;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  padding: 6px 15px;
  color: #8b1e17;
}

body {
  text-align: center;
  font-family: sans-serif;
}

.contact-title {
  margin-top: 200px;
  color: #96261d;
  text-transform: uppercase;
  transition: all 3s ease-in-out;
  letter-spacing: 2.7px;
}

.contact-title h1 {
  font-size: 32px;
  line-height: 50px;
}

.contact-title h2 {
  font-size: 16px;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #721210;
  color: #eee;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: #721210;
  border-color: transparent;
  color: #eee;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #8b1e17;
  cursor: pointer;
}
