* {
  padding: 0;
  margin: 0;
  background-color: #111;
}

body {
  color: #8b1e17;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.text1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 6px;
  margin-top: 90px;
  animation: text 3s 1;
}

ul {
  color: #8b1e17;
  font-size: 20px;
  font-family: monospace;
  position: relative;
  top: 80%;
  left: 0;
  line-height: 90px;
  animation: text 3s 1;
}

a {
  text-decoration: none;
  color: #8b1e17;
}

@keyframes text {
  0% {
    color: #111;
    margin-bottom: auto;
  }
    30% {
    letter-spacing: 10px;
    margin-bottom: auto;
  }
}

@keyframes ul {
  0% {
    color: #111;
    margin-bottom: auto;
  }
    30% {
    letter-spacing: 10px;
    margin-bottom: auto;
  }
}
